#club-name span{
    font-size: 50%;
    vertical-align: text-top;
}

/* Buttons */
.btn{
    background: rgba(255, 255, 255, 0);
}
.btn:hover{
    background: rgba(255, 255, 255, 1);
}

#main-advantages .btn:hover{
    background: rgba(255, 255, 255, 0.3);

}

/* join the beta */
#join-beta div{
    margin-top: 24px;
    margin-bottom: 24px;
}

#join-beta div a{
    font-size: 20px;
}

/* Subscribe */
#tarification{
    margin: 20px -20px 0 -20px;
}

#tarification .divider-wrapper{
	min-height: 350px;
}

#tarification .divider-wrapper a{
	position: absolute;
	bottom: 20px;
	left: 20px;
	right: 20px;
    font-size: 16px;
    padding: 0 12px;
}

#tarification h2{
    font-size: 19px !important;
}

#products-btns img{
    margin-right: 20px;
}
#products-btns button{
    margin: 6px 4px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.centered-title{
    margin: auto;
    margin-top: -20px;
}
